---
import { Counter } from "../components/counter";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto h-screen grid items-center">
    <Counter client:only="preact" />
  </div>
</Layout>
